@model MvcApplication1.Models.Employee
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<div>
    Country: @ViewBag.Country
    <br />
    FirstName: @Model.FirstName
    <br />
    DateTime: @ViewData["DateTime"]
</div>
